.text_serv {
    font-size: 50px;
}
.card{
    width: 20rem;
    margin-left: 10px;
    transition-duration: 0.3s;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;
}
.card-body {
    padding: 3rem 0 !important;
}
.card-text{
    padding: 0.4rem 1.9rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transition: transform 0.5s ease;
}
.card:hover{
    width: 21rem;
    height: 31rem;
}
@media(max-width: 760px){
    .card:hover{
        width: 22rem;
    }
    .col-md-4{
        margin-bottom: 10px;
    }
    .row{
        align-items: center;
    }
}
/*
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
}
.row{
    height: auto;
    background-color:white;
    color: black;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-justify: inter-word;
    align-items: center;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
.descricao {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
    margin-left: 10px;
}
*/