.text{
    height: auto;
    background-color:white;
    color: black;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    align-items: center;
  }
.text_bemvindo {
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.divider1 {
  color: linear-gradient(to right, rgb(85, 183, 216), rgb(241, 244, 245), rgb(85, 183, 216));
  background: linear-gradient(to right, rgb(85, 183, 216), rgb(241, 244, 245), rgb(85, 183, 216));
  height: 3px;
  width: 200px;
}
.divider2{
  color: linear-gradient(to right, rgb(85, 183, 216), rgb(241, 244, 245), rgb(85, 183, 216));
  background: linear-gradient(to right, rgb(85, 183, 216), rgb(241, 244, 245), rgb(85, 183, 216));
  height: 3px;
  width: 350px;
}
.text_sobre {
  font-size: 50px;
}
@media(max-width: 760px) {
  .text_bemvindo {
    font-size: 60px;
  }
  .divider1 {
    max-width: 150px;
  }
  .divider2{
    max-width: 250px;
  }
}